
.HeroSection {
  background: url(../images/restaurant-interior.png) center/cover no-repeat;
  position: relative;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.HeroSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.32); 
  z-index: 1;
}

.HeroSection h1 {
  position: relative;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3.4rem;
  z-index: 2;
}

.HeroSection p{
    color: white;
}

.HeroButtons button{
    width: 200px;
    font-size: 1em;
    color: black;
    font-weight: bolder;
    border-color: transparent;
    border-radius: 12px;
    height: 50px;
}

.HeroButtons button:nth-child(1){
    background-color: orange;
    color: white;
    border-color: transparent;
}


